::-webkit-scrollbar {
	width: 8px;
	height: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 6px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2375b8;
    border-radius: 6px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#023763;
  }

 
  .number {
	position: absolute;
    top: 3px;
    right: 5px;
    width: 20px;
	height: 20px;
	text-align:center;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    background: #2375b8;
}


  
 

.offset-0 {
    padding-left: 0;
    padding-right: 0;
}

@font-face {
	font-family: myFirstFont;
	src: url(/fonts/Helvetica.otf), sans-serif;
  }
  
  * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: myFirstFont, sans-serif;
  }

body {	
	font-size: 15px;
	}



  
  
h1, h2, h3 { margin: 0; }
h2 { font-size: 1.6em; }
h3 {
	color: #7f7f7f;
	font-size: 1.4em;
}
ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}
ol li{
	list-style-type:decimal;
	margin: 0 0 8px 0;
	font-size:18px;
  }
  



a{
text-decoration: none;
}
a:hover { text-decoration: none !important;}

.colorhover:hover{
	background-color:#d4d4d4 !important;
	color:black !important;
}

	

nav li {
	font-size: 18px;
	list-style: none;	
	
}
.templatemo-inline-block {
	display: inline-block;
	vertical-align: middle;
}

.bluetext { color: #2375b8 !important; }
.white-text { color: white; }


.white-bg {	
	background-color: white; 
	box-shadow: 10px 10px 5px rgba(0,0,0,0.2) !important;
}




.menuwidth{
min-width: 110px !important;
text-align:center !important;
background-color: #18191b !important;
}

.modal-content{
	background-color: #18191b !important;	
	color:white  !important;
}

.modal-header .fa-times {	background-color: #2375b8; color:white; }

.dropdown-menu{
	background-color: #18191b !important;
}

.dropdown-menu li a:hover{
	background-color: transparent !important;
	font-weight: bold;
}

.selectbuy{
	background: url(/images/arrow.png?6548d510edd8f8cb8ce1778b20edc206) no-repeat 95% !important;
	background-color:white !important;
	-moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
    padding : 4px 20px
}

#allimages{
	background: url(/images/arrow2.png?a4a15bf75cfaa2dd09d4f6798a7bc529) no-repeat 95% !important;
}


.menuwidth li{
	padding-top: 10px;
    padding-bottom: 10px;
}

.menuwidth a{
	font-size: 16px;
}

.menuwidth a:hover{
	font-weight: bold;
}



.navbar-nav{
	height:65px;
	margin-top:10px !important;
}
nav{
	background-color: #18191b !important;
}
nav li a { color:white !important;}

.navbar-nav>.active>a {
	background-color: #2375b8 !important;
	border-radius: 5px;
}



.badges{display:inline-block;
	left:-5px;
	min-width:10px;
	padding:6px 10px;
	font-size:12px;
	font-weight:700;
	line-height:1;
	color:#fff;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	background-color:#777;
	border-radius:10px}

.badge-primary{color:#fff !important;background-color:#2375b8 !important}

.badge-danger{color:#fff !important;background-color:#dc3545 !important}

.itemstyle li{
	 font-weight:normal;
	 padding: 15px;
	 margin:15px;
	 text-align: center !important;
	 color:white;
 }

.orange-bg {
	background-color: #D7425C;/* For browsers that do not support gradients */
	background-image: radial-gradient(#D7425C, #D7425C, #D7425C);
	color: white;
}

.cyan-bg{
	background-color: #abd0e2;
}

.pres-bg {
	background-color: #929292;/* For browsers that do not support gradients */
	background-image: radial-gradient(#929292, #929292, #929292); 
	color: black;
}

a{
	text-decoration: none !important;
}

a:hover{
	text-decoration: none !important;
}

.test{
	width:250px !important;
}

.paymentscroll{
	overflow:auto;
	 width:300px;
	  height:230px;
}




#scroller {
    overflow: auto;
    background: yellow;
}


.white-bg .fa-times { background-color: #d7d7d7; }

@media screen and (max-width: 1000px) {
	#spacing{ height:25px;}
	
}

.white-bg .fa-times:hover {	background: #83ccd1; }

.orange-bg .fa-times {	background-color: #F0A790; }
.orange-bg .fa-times:hover { background-color: #E14311; }
.pink-bg {
	background-color: #cc0000;
	color: white;
}


.banner-1-inner {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
     }
    .banner-1-inner h1 {
      color: black;
      text-transform: uppercase;
      font-weight: 900; }
    .banner-1-inner h2 {
      color: black;
     }


.scrollform{
height: 360px;
overflow-y: auto;
overflow-x: hidden;
padding:10px;
}

scroll{
	height: 360px;
overflow-y: auto;
overflow-x: hidden;
padding:10px;
}

a:hover{
	cursor: pointer;
}

.pink-bg .fa-times { background-color: #E57C8F;	}
.pink-bg .fa-times:hover { background-color: #BD1F3B; }
.blue-bg {
	background-color: #3275BB;
	color: white;
}
.blue-bg .fa-times { background-color: #6792C0; }
.blue-bg .fa-times:hover { background-color: #2C639C; }
.light-gray-bg { 
	background-color: #abd0e2;/* For browsers that do not support gradients */
	background-image: linear-gradient(to right,#dcedf5, #75a0b6, #abd0e2);
}
.padding-right-25 {	padding-right: 25px; }
.margin-bottom-0 {	margin-bottom: 0; }
.margin-bottom-5 {	margin-bottom: 5px; }
.margin-bottom-10 {	margin-bottom: 10px; }
.margin-bottom-30 {	margin-bottom: 30px; }
.margin-bottom-70 {	margin-bottom: 70px; }
.margin-right-15 { margin-right: 15px; }
.margin-10 { margin: 10px; }
.width-100 { width: 100%; }
.no-border { border: none; }
.border-radius-10 { border-radius: 10px; }
footer { padding: 15px; }


.circle {
	width: 15px;
	height: 15px;
	border-radius: 50%;
}



h3{
	color:#2375b8 !important;
}


.search{
	
	display:inline-block !important;
	position: relative !important;
		
}

.search input{
	background-color: #18191b !important;
	color:white !important;
	padding-left:25px;
}

.btn-danger{
	background-color: #D7425C !important;
}

.search:after {
	color:white;
	font-family: 'FontAwesome' !important;
	content: '\F002' !important;
	position: absolute !important;
	left: 6px !important;
	top: 6px !important;
	z-index:4;
}



::-moz-placeholder {
	color: rgb(209, 207, 207) !important;
	opacity: 1; /* Firefox */
  }



:-ms-input-placeholder {
	color: rgb(209, 207, 207) !important;
	opacity: 1; /* Firefox */
  }



::placeholder {
	color: rgb(209, 207, 207) !important;
	opacity: 1; /* Firefox */
  }



/* Main Content Area */
.templatemo-content {
  margin-top: 0px;
  min-height: 600px;
  padding: 0;  
  overflow-x: hidden;
}

.templatemo-flex-row {
	display: flex;
}
.col-1 {
	flex: 1;
}

/* Content Widget */
.templatemo-content-widget {
	border-radius: 10px;
	padding: 30px;	
	position: relative;
	margin: 10px;
 	box-shadow: 0px 0px 1px 1px rgba(161, 159, 159, 0.1);
}
.templatemo-content-widget.no-padding {	padding: 0; }
.fa-times {
	border-radius: 15px;
  	color: white;
  	cursor: pointer;
	padding: 4px 5px;
  	position: absolute;
  	top: 15px;
  	right: 15px;
  	z-index: 100;
  	transition: all 0.3s ease;
}

.progress {	display: block; }

.panel { border-radius: 10px; }

.pagination-wrap {
	margin-top:-20px;
	margin-bottom:-20px;
}

.table { margin-bottom: 0; }
.table>tbody>tr>td { padding: 10px 15px; }
.table>thead>tr>td { padding: 15px; font-weight:normal !important;}
.media { margin-top: 0; }

.badge {
	background-color: #2375b8 !important;
	margin-left: -6px !important;
	padding: 5px 10px !important;
	vertical-align: top !important;
}
.templatemo-img-bordered {
	border: 1px solid #ccc;
	padding: 3px;
}



/* 5. Login
------------------------------*/
.templatemo-login-widget {
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
}




.templatemo-login-widget header { margin-bottom: 40px; }
.templatemo-login-widget h1 {
	display: inline-block;
	font-size: 1.8em;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
}
.templatemo-login-form .form-group { margin-bottom: 20px; }
.templatemo-login-form .form-group:last-child {	margin-bottom: 0; }
.input-group-addon { background: none; }

.img{
	border-radius: 50%;
	display:inline-block;
	max-width:100%;
	max-height:100%;
	padding:4px;
	line-height:1.42857143;
	background-color:#fff;
 border:1px solid #ddd;
}
.btn-primary {
	border-radius: 2px;
	background-color: #39ADB4;
	border: none;	
	color: white;	
}
.btn-primary:hover { background-color: #023763 !important; }

.closecss{
	position:absolute;
	top: 10px;
	left: 10px;
	 z-index: 4000;
	 background-color:white;
}

.closecss:hover{
	text-decoration:none;
	color:#023763;
}

  
 

.blue-text{
color: #2A858B !important;
}


.checkbox label { padding-left: 0; }


input[type="checkbox"] {  display:none; }
input[type="checkbox"] + label span {
    display:inline-block;
    width:26px;
    height:25px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(/images/checkbox-radio-sheet.png?bfd367cfcfa29da8a1c11aa06cbce0f7) left top no-repeat;
	cursor:pointer;
	color:white !important;
}
input[type="checkbox"]:checked + label span {
    background:url(/images/checkbox-radio-sheet.png?bfd367cfcfa29da8a1c11aa06cbce0f7) -26px top no-repeat;
}



input[type="radio"] { display:none; }
input[type="radio"] + label span {
    display:inline-block;
    width:26px;
    height:25px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(/images/checkbox-radio-sheet.png?bfd367cfcfa29da8a1c11aa06cbce0f7) -52px top no-repeat;
    cursor:pointer;
}
input[type="radio"]:checked + label span {
    background:url(/images/checkbox-radio-sheet.png?bfd367cfcfa29da8a1c11aa06cbce0f7) -78px top no-repeat;
}

/* 6. Manage Users
------------------------------*/
.templatemo-sort-by:hover {	color: #ded9d9; }


.templatemo-overflow-hidden { overflow: hidden; }

.templatemo-user-table thead {
	background-color: #2375b8;
	color: white;
}
.panel>.table-responsive:last-child>.table:last-child, .panel>.table:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.panel>.table:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}





.has-error .form-control { border-color: #D7425C; }


@media screen and (max-width: 1199px) and (min-width: 991px) {
	nav li { font-size: 1em; }
	
}

@media screen and (max-width: 1199px) {
	.templatemo-flex-row.flex-content-row { display: block;	}
}




@media screen and (max-width: 992px) {
	nav li { font-size: 1em; }
	.templatemo-content-container {	padding: 10px; }
}

@media screen and (max-width: 767px) {
	.templatemo-flex-row { display: block; }
	.templatemo-content-widget { padding: 15px;	}


}

select option{
	background-repeat: no-repeat;
	 margin:7px;
	background-position:center left;
	background-origin: content-box;
	font-size:17px;
	padding:10px;
	 border-radius: 2px;
  }


  @media screen and (min-width: 700px) {
	.col-lg-4{
		width:31% !important;
	  }
  }


.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/images/Preloader_2.gif?a8c98ef9a57c815f287ac8b56d0d65b9) center no-repeat #fff;
}

  .disabled {
	display:none;
	pointer-events: none;
  }



  .logincontainer{
	  overflow:auto;
	background-repeat: no-repeat;
	background-position:center right;
	background-image: url(/images/background.png?72fa2112fc830c8d4fdd847bdbfd2f3f);
	background-color: #abd0e2;
	position:fixed;
	width:100%;
	height: 100%;
	z-index:3000;
	top:0px;
	left:0px;
}

.formShow{
	overflow:auto;
	background-repeat: no-repeat;
	background-position:center right;
	background-color:rgba(0,0,0,0.8);
	position:fixed;
	width:100%;
	height: 100%;
	z-index:3000;
	top:0px;
	left:0px;
}

  
  
  option:not(:checked) {
	background-color: #fff !important;
  }


  .notificationscroll{
	overflow-y: auto !important;
	 height:200px !important;
	 width:350px;
	 
  }

  .notificationscroll li{
	text-align:center;

  }

  

  